<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Задачи и справочники Javascript</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Задачи</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Руководства</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01" id="bookClicker">
            <a class="dropdown-item" data-id="learn_javascript" data-link="http://learn.javascript.ru/">Learn.javascript.ru</a>
            <a class="dropdown-item" data-id="mozilla_dev" data-link="https://developer.mozilla.org/ru/">Mozilla Developer Network</a>
            <a class="dropdown-item" data-id="safari_dev" data-link="https://developer.apple.com/safari/resources/">Safari Developer Library</a>
            <a class="dropdown-item" data-id="can_use" data-link="https://caniuse.com/">Проверка совместимости браузерами</a>
            <a class="dropdown-item" data-id="ecma_en" data-link="http://www.ecma-international.org/ecma-262/10.0/index.html#Title">Официальная спецификация языка ECMAScript (EN)</a>
            <a class="dropdown-item" data-id="ecma_5_ru" data-link="http://es5.javascript.ru/">Официальная спецификация языка ECMAScript 5(RU)</a>
            <a class="dropdown-item" data-id="ecma_3_ru" data-link="http://javascript.ru/ecma">Официальная спецификация языка ECMAScript 3 версия(RU)</a>
            <a class="dropdown-item" data-id="w3c" data-link="https://www.w3.org/">Официальная спецификация W3.org</a>

            {{!-- 
                  2 http://javascript.ru/manual
                  3 https://developer.mozilla.org/ru/
                  4 https://developer.apple.com/safari/resources/
                  5 https://caniuse.com/
                  6 http://www.ecma-international.org/ecma-262/10.0/index.html#Title
                  7 http://es5.javascript.ru/
                  8 http://javascript.ru/ecma
                  9 https://www.w3.org/
                   --}}
          </div>
        </li>
      </ul>
      <!-- <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
    </div>
  </nav>
</header>